body {
    font-family: Arial, sans-serif;
    background-color: #c7d9e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

.img__fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url("../imagenes/carrera.jpg");
    /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.img__fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgb(255, 255, 255) 20%,
            rgba(0, 0, 0, 0));
    z-index: 1;
}

.direc__deportes {
    position: absolute;
    right: 2%;
    bottom: 5%;
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

.direc__deportes>img {
    height: 65px;
    width: 65px;
    position: absolute;
}

.direc__deportes[direc="2"] {
    bottom: 22%;
}

.direc__deportes[direc="3"] {
    bottom: 39%;
}

.contenedor__crono {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cronoButton {
    height: 40px;
    width: 110px;
    font-family: "darkmode-on", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #3333335b;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.contenedor__tablaTiempo {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    height: 400px;
    /* Alto fijo de 600px */
    width: 100%;
    left: 0;
    top: 150px;
    transform: translate(20%, 0%);
    overflow: auto;
    margin-top: 50px;
}

article {
    gap: 30px;
    display: flex;
    justify-content: center;
}

.contenedor__tiempo__numero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#stopwatch {
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #333;
}

#stopwatch,
span {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}


.btn__volver {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 20%;
    left: 1%;
    padding: 4px 8px;
    border-radius: 8px;
    color: #ffffff;
    text-shadow: 0 0 10px #000;
    font-weight: bold;
    transition: all 0.2s ease;
    font-family: "sofachrome", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000;
}

.btn__volver>img {
    rotate: 90deg;
    height: 200px;
    object-fit: contain;
    position: absolute;
    width: 100px;
    z-index: -1;
    border-radius: 50%;
    opacity: 0.8;
}

.btn__volver:hover {
    scale: 1.03;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

h1 {
    text-align: start;
    margin-bottom: 10px;
    font-size: 30px;
    color: #333;
    font-style: normal;
    margin-left: 40px;
    font-family: "sofachrome", sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 70px;
}

h2 {
    text-align: start;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    width: 600px;
    margin-left: 40px;
    font-family: "darkmode-on", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-size: 20px;
    color: #333;
    width: 600px;
    margin-left: 40px;
    font-family: "darkmode-on", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.contenedor__btns {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100%;
}

.button {
    cursor: pointer;
    text-align: start;
    height: 20%;
    width: 70%;
    padding: 20px 10px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: "sofachrome", sans-serif;
    font-weight: bold;
    font-style: italic;
    transition: all 0.3s ease;
    background-color: #ffffff00;
    position: relative;
}

.button::before {
    content: " ";
    border-bottom: 5px #333333 solid;
    position: absolute;
    width: 0;
    top: 50px;
    left: 0;
    transition: all 0.3s ease;
}

.button:hover::before {
    width: 50%;
}

.button:hover {
    background: linear-gradient(to right, #007bff 1%, rgba(0, 0, 0, 0));
    color: #fff;
    z-index: 2;
    flex-grow: 1;
}

.button>p {
    text-decoration: none;
    color: #333;
    margin-left: 30px;
}

#responseMessage {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
    position: fixed;
    height: 60px;
}

.header-logo {
    margin: 0 20px;
    /* Espacio entre los logos */
}

.header-logo img {
    width: 120px;
    height: 100px;
}

.dashboard {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #666;
}

/* form {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    width: 100%; 
    margin-left: 40px;
    position: relative;
}

form > article {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

.ranking__button {
    width: 100%;
    padding: 10px;
    margin-left: 20px;
    font-family: "darkmode-on", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #3333335b;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    height: 65px;
}

.ranking__button:hover {
    background-color: #0056b3;
}

.contenedor__ranking {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    height: 400px;
    width: 100%;
    left: 25%;
    top: 150px;
    transform: translate(0%, 0%);
    overflow: auto;
}

/* register.html */

#runnerForm {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    padding: 10px;
    gap: 30px;
    margin-left: 30px;
    margin-bottom: 150px;
}

#runnerForm>article {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

label {
    position: absolute;
    font-family: "sofachrome", sans-serif;
    font-weight: bold;
    font-style: italic;
    bottom: 22%;
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: 30px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3333335b;
    background-color: transparent;
    font-size: 16px;
    box-sizing: border-box;
    height: 65px;
    margin-left: 20px;
    font-family: "darkmode-on", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Ocultar las flechas y el control nativo en navegadores modernos */
input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    /* Otros navegadores */
}

/* Opcional: Estilo para el borde del input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#submitBtn {
    padding: 10px 8px;
    font-size: 20px;
    bottom: -20%;
    position: absolute;
    font-family: "sofachrome", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #00000000;
}

#submitBtn::before {
    content: " ";
    border-bottom: 4px #000000 solid;
    position: absolute;
    width: 0;
    top: 40px;
    left: 7px;
    transition: all 0.3s ease;
}

#submitBtn:hover::before {
    width: 85%;
}

#submitBtn:hover {
    scale: 1.1;
}

/* listacorredores.html */

[page="listacorredores"] {
    background-image: url("../imagenes/lista.jpg") !important;
}

.contenedor__tabla {
    background-color: transparent;
    border-radius: 8px;
    max-width: 1000px;
    height: 500px;
    width: 100%;
    overflow: auto;
    margin-left: 40px;
    margin-bottom: 110px;
    padding-top: 20px;
}

.contenedor__tabla::-webkit-scrollbar {
    width: 11px;
}

.contenedor__tabla::-webkit-scrollbar-track {
    background: #000;
}

.contenedor__tabla::-webkit-scrollbar-thumb {
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #000;
}

th,
td {
    padding: 8px;
    text-align: left;
}

tbody>:hover{
    background-color: #000000;
    color: #fff;
}

th {
    background-color: #f2f2f2;
}

tbody > tr{
    font-family: "darkmode-on", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    transition: 0.2s ease all;
    background-color: #fff;

}

thead > tr{
    font-family: "sofachrome", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}