body {
    font-family: Arial, sans-serif;
    background-color: #C7D9E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.contenedor__crono {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article {
    gap: 30px;
    display: flex;
    justify-content: center;
}

.contenedor__tiempo__numero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#stopwatch {
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #333;

}

#stopwatch,
span {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.contenedor__tabla {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.btn__volver {
    position: absolute;
    text-decoration: none;
    top: 10%;
    left: 5%;
    padding: 8px 10px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn__volver:hover {
    scale: 1.1;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    /* Asegura que padding y border no afecten al ancho total */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#responseMessage {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: white; 
    width: 100%;
    box-sizing: border-box;
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.header-logo {
    margin: 0 20px; /* Espacio entre los logos */
}

.header-logo img {
    width: 120px;
    height:100px;
    
}


.dashboard {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}